<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'homestyle.css' %}">
    <script src="https://kit.fontawesome.com/2b7970b984.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>
<body>
    <div id="header">
        <div class="container">
            <nav>
                <h1>CP<span>CR</span></h1>
                <ul id="navmenu">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'profile' %}">Profile</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </nav>
        </div>

        <div class="header-text">
                
            <h1>Welcome, 
                <span>
                    {{request.user.first_name}} {{request.user.last_name}}
                </span>
            </h1>
            <div class="block_container">
                <div class="dash">
                    <p>Dashboard</p>
                </div>
                <br>
                <div class="dropdown-site">
                <label for="sites">Choose contest site:</label>
                    <select name="item" id="item">
                        <option value="CodeForces">Codeforces</option>
                        <option value="CodeForces">Codeforces::Gym</option>
                        <option value="CodeChef">CodeChef</option>
                        <option value="AtCoder">AtCoder</option>
                        <option value="TopCoder">TopCoder</option>
                        <option value="HackerRank">HackerRank</option>
                        <option value="HackerEarth">HackerEarth</option>
                        <option value="LeetCode">LeetCode</option>
                    </select>
                </div>
            </div>
        </div>

        <!----------------------- For running contests----------------------- -->
        <br><hr>
        <div class="running">
            <p>Running Contests: </p>
        </div>
        <br>
        <br>
        <br>
        
        <table>
            <thead>
              <tr>
                  <th>Contest Site</th>
                  <th>Contest Name</th>
                  <th>Date & Time</th>
                  <th>URL</th>
              </tr>
            </thead>
            <tbody>
                {% for x in data %}
                {% if 'CODING' in x.status %} 
              <tr data-year= {{x.site}} >
                  <td>{{x.site}}</td>
                  <td>{{ x.name }}</td>
                  <td>{{ x.start_time }}</td>
                  <td><a href="{{x.url}}">{{x.url}}</a> </td>
              </tr>
              {% endif %}
            {% endfor %}
            </tbody>
        </table>



        <!----------------------- For contest in 24hours contests----------------------- -->
        
        <br><br><hr><br>
        <div class="running">
            <p>Contests within 24 Hours: </p>
        </div>
        <br>
        <br>
        <br>
        <table>
            <thead>
              <tr>
                  <th>Contest Site</th>
                  <th>Contest Name</th>
                  <th>Date & Time</th>
                  <th>URL</th>
              </tr>
            </thead>
            <tbody>
                {% for x in data %}
                {% if 'Yes' in x.in_24_hours %}
              <tr data-year= {{x.site}} >
                  <td>{{x.site}}</td>
                  <td>{{ x.name }}</td>
                  <td>{{ x.start_time }}</td>
                  <td><a href="{{x.url}}">{{x.url}}</a> </td>
              </tr>
              {% endif %}
            {% endfor %}
            </tbody>
        </table>




        <!----------------------- For Upcoming contests----------------------- -->

        <br><br><hr><br>
        <div class="running">
            <p>Upcoming Contests: </p>
        </div>
        <br>
        <br>
        <br>
        <table>
            <thead>
              <tr>
                  <th>Contest Site</th>
                  <th>Contest Name</th>
                  <th>Date & Time</th>
                  <th>URL</th>
              </tr>
            </thead>
            <tbody>
                {% for x in data %}
                {% if 'BEFORE' in x.status %}
              <tr data-year= {{x.site}}>
                  <td>{{x.site}}</td>
                  <td>{{ x.name }}</td>
                  <td>{{ x.start_time }}</td>
                  <td><a href="{{x.url}}">{{x.url}}</a> </td>
              </tr>
              {% endif %}
            {% endfor %}
            </tbody>
        </table>

    <div class="copyright -----------------------------------------footer-----------------------------------">
        <p>Copyright © Nafis Sadique Ayan || Sultana Razia || Tasfia Rahman. Made with <i class="fa-solid fa-heart"></i></p>
    </div>
</div>
</div>

<script>
    var filterTable = function(item) {
    // Get the value of the select box
    var val = item.val();
    console.log(val);
  
    // Show all the rows
    $('tbody tr').show();
    
    // If there is a value hide all the rows except the ones with a data-year of that value
    if(val) {
        $('tbody tr').not($('tbody tr[data-year=' + val + ']')).hide();
    }
    }


    $('select').on('change', function(e){
    // On change fire function
    filterTable($(this));
    });

    // Fire function on load
    filterTable($('select'));

</script>
</body>
</html>